/* ------------------------------
        Google Fonts
------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------
            header
------------------------------ */
.header-contents {
    display: flex;
    background-color: #2D25A0;
    justify-content: center;
    padding: 42px 0 86px 0;
}
.header-left {
    max-width: 485px;
    margin: auto 0;
}
.header-left p {
    color: white;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 27px;
}
.header-left a {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    transition: 0.3s;
}
#arrow {
    margin-left: 5px;
}
.header-left a:hover {
    background-color: rgb(207, 3, 78);
}
#header-right-banner {
    max-width: 556px;
    max-height: 456px;
    transition: 1s;
}
#header-right-banner:hover {
    transform: scale(1.05) rotate(5deg);
    transition: 1s ease-in-out;
}
/* ------------------------------
        main-article-section
------------------------------ */
main {
    display: flex;
    justify-content: center;
}
#article-section {
    margin: 55px 0 10px;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    
}
.main-article {
    height: 500px;
    max-width: 330px;
    justify-content: center;
    margin: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15)
}
.main-article img {
    max-width: 300px;
    margin: 15px;
}
.main-article h3 {
    font-size: 28px;
    margin-left: 15px;
}
.main-article p {
    margin: 15px ;
    color: #6C6C6C;
    max-width: 300px;
}
/* ------------------------------
       top blogs-section
------------------------------ */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-items{
    background-color: #ffffff;
    width: 800px;
    padding: 30px;
    border-radius: 5px;
}
.section-title {
    text-align: center;
    margin-bottom: 25px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    margin: 5px;
}
.blog a {
    text-decoration: none;
    color: black;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/*----------------------------
            Extra 2nd sec
----------------------------*/


.partner hr{
    margin-top: 50px;
    margin-bottom: 50px;
}
.partner h1{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
.partner-logo {
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
.partner-logo img{
    height: 100px;
    width: 100px;
    transition: .2s;
    margin-left: 20px;
    border-radius: 50px;
}
.partner-logo img:hover{
    transform: scale(1.1);
    overflow: hidden;
}


/*----------------------------
            footer
----------------------------*/
footer {
    align-items: center;
}
footer img {
    max-width: 484px;
    margin: 0 auto;
    display: block;
}
#sm-icons {
    text-align: center;
}
.sm-icons {
    color: #969BAB;
    font-size: 16px;
    padding: 9px;
    margin: 5px;
    align-items: center;
    border-radius: 20px;
    background-color: #dfdfdf;
    transition: 0.3s;
}
.sm-icons:hover {
    transform: scale(1.3);
}
footer p {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}
/*---------------------------------
            Media Queries
-------------------------------- */
@media only screen and (max-width:1100px) {
    #article-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .header-contents {
        flex-direction: column;
        align-items: center;
    }
    #header-right-banner {
        margin: 100px auto 0px;
    }
}
@media only screen and (max-width:900px) {
    
}
@media only screen and (max-width:720px) {
    #article-section {
        grid-template-columns: repeat(1, 1fr);
    }
    #header-right-banner {
        width: 90%;
        height: 90%;
    }
    .header-left {
        padding-left: 25px;
    }                                                                                                                             
    footer img, #sm-icons, p {
        width: 100%;
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    
        
}
@media only screen and (max-width:360px) {
    .header-left p {
        font-size: 32px;
    }
    .main-article img {
        max-width: 85%
    }
    .main-article h3, p{
        width: 90%
    }
    .partner-logo {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 75px;
    }
}
@media only screen and (max-width: 900px){
    .container-items{
        width: 100%;
    }
    .blogs{
        grid-template-columns: repeat(1, 2fr);
    }
    .partner {
        width: 100%;
    } 
    .partner-logo {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 100px;
        
    }
}
@media only screen and (max-width: 615px) {
    .blog {
        flex-direction: column;
    }
    .partner-logo {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
        
    }
}